<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="StockQuoteSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="StockQuoteSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.webservicex.net/stockquote.asmx"
                binding="basicHttpBinding" bindingConfiguration="StockQuoteSoap"
                contract="StockGet.StockQuoteSoap" name="StockQuoteSoap" />
            <endpoint address="http://www.webservicex.net/stockquote.asmx"
                binding="customBinding" bindingConfiguration="StockQuoteSoap12"
                contract="StockGet.StockQuoteSoap" name="StockQuoteSoap12" />
        </client>
    </system.serviceModel>
</configuration>